body{
    background:  rgb(206, 103, 103);
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
/* .ph{
    background-image: url(image/1.jpg);
    background-size: 100%;
    display: flex;
    height: 100rem;
} */

/*<-------------------------------------------page1-------------------------------------------------------->*/
/* page1{
    text-decoration: none;
}
.leftname{
    padding: 1%;
    position:absolute;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 113, 233);
    box-shadow: rgb(0 0 0 100%);
}
.menu a{
    font-size: 15px;
    font-family:sans-serif;
    padding-left: 2%;
    text-decoration: none;

} */
.page1{
    background-image:radial-gradient(rgb(77, 236, 157),rgb(5, 30, 68));
    padding:0%;
    margin: 0%;
    box-shadow: 6px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    list-style: none;
}
label.logo{
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
    font-size: calc(7vh - 4px);
    line-height: 60px;
    padding: 0 10px;
    font-weight: bold;

}
nav ul{
    position: relative;
    bottom: 25px;
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    
}
nav ul li a{
    padding: 7px 13px;
    border-radius:10px;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 2s;
}
ul li a.active{
    color: rgb(10, 10, 10);
    background: rgb(14, 221, 221);
    transition: 0.5s;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(51, 95, 88);
    
}
ul li a:hover{
    font-style:normal;
    color:black;
    background: rgb(14, 173, 221);
    transition: 0.5s;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(51, 95, 88);
    border-radius: 40px;

}

section{
    
    top: -20px;
    background: url(image/3.jpg);
    background-color: green;
    background-size:cover;
    height: calc(100vh - 80px);
    flex-wrap: wrap;
    box-shadow: 6px 10px rgba(0, 0, 0, 0.3);
}
section .firstpagetext{
    flex: 1 1 200px;
    flex: 1 1 200px;
    position:inherit;
    position:absolute;
    right: 5%;
    font-family:'Times New Roman', Times, serif;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: pink;
    font-size: 80%;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.644);
    
}

section .firstpagetext2 h1{
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%;
    letter-spacing: 3px;
    left:  50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.514) ;
    color: rgba(199, 141, 54, 0.808);
    
}
.firstpagetext2 h1:hover{
    color: rgb(240, 255, 29);
}
.insidefirstpatetext2{
    position: absolute;
    left:  50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    display: flex;

    
}
.firstpagetext2 a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.247);
    color: white;
    padding:10px;
    display: inline-block;
    margin-left: 10px;
    font-size: 100%;
    text-decoration:none;
    text-transform: uppercase;
    transition: 0.4s;
    
}

.insidefirstpatetext2 a:hover{
    background-color: rgba(0, 0, 0, 0.699);
    text-decoration:underline;
    text-decoration-color:red;
    transition: 0.4s;
}
.insidefirstpatetext2 a span{
    display: block;
    position: absolute;
    background-color: white;
}
.insidefirstpatetext2 a span:nth-child(1){
    left: 3.1%;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin:bottom;
    transition: transform 0.5s;
}
a:hover span:nth-child(1){
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.insidefirstpatetext2 a span:nth-child(2){
    right: 46%;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin:top;
    transition: transform 0.5s;
}
a:hover span:nth-child(2){
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.insidefirstpatetext2 a span:nth-child(3){
    left: 3.6%;
    top: 0%;
    width: 50%;
    height: 1px;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
a:hover span:nth-child(3){
    transform:scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.insidefirstpatetext2 a span:nth-child(4){
    left: 3.6%;
    bottom: 0;
    width: 50%;
    height: 1px;
    transform: scaleX(0);
    transform-origin:left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
a:hover span:nth-child(4){
    transform:scaleY(1);
    transition-delay: 0.5s;
    transform-origin: right;
    transition: transform 0.5s;
}
.insidefirstpatetext2 a spon{
    display: block;
    position: absolute;
    background-color: white;
}
.insidefirstpatetext2 a spon:nth-child(1){
    left: 57%;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin:bottom;
    transition: transform 0.5s;
}
a:hover spon:nth-child(1){
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.insidefirstpatetext2 a spon:nth-child(2){
    right: 0%;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin:top;
    transition: transform 0.5s;
}
a:hover spon:nth-child(2){
    transform:scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.insidefirstpatetext2 a spon:nth-child(3){
    left: 57.5%;
    top: 0%;
    width: 43%;
    height: 1px;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
a:hover spon:nth-child(3){
    transform:scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}
.insidefirstpatetext2 a spon:nth-child(4){
    left: 57.5%;
    bottom: 0;
    width: 43%;
    height: 1px;
    transform: scaleX(0);
    transform-origin:left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
a:hover spon:nth-child(4){
    transform:scaleY(1);
    transition-delay: 0.5s;
    transform-origin: right;
    transition: transform 0.5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
   
    .checkbtn{
        display: block;

    }
    nav ul{
        display: flexbox;
        justify-content: center;
        align-content: center;
        position: absolute;
        right: 0%;
        z-index: 2;
        width:50%;
        height: 85%;
        background: radial-gradient(rgb(108, 146, 108),black);
        top: 50px;
        left:-100%;
        text-align: center;
        transition: all .5s;

    }
    nav ul li{
        display: flex;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:rgb(36, 153, 173)
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 507px){
    .firstpagetext2 a{
        font-size: 60%;
    }
    .firstpagetext2{
        font-size: 60%;
        
    }
}
@media (max-width: 311px){
    .firstpagetext2 a{
        font-size: 50%;
    }
    .firstpagetext2{
        font-size: 50%;
        
    }
}


/*<-------------------------------------------page1-------------------------------------------------------->*/

/*<-------------------------------------------page2-------------------------------------------------------->*/
.page2{
    display: block;
    background:linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.158)) ,url(image/pngwing.com\ \(3\).png), repeating-linear-gradient(rgba(6, 255, 201, 0.274),rgba(0, 35, 51, 0.315));;
    background-size:cover;
    justify-content: center;
    text-align: center;
}
.page2 h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-transform: uppercase;
    color: lightblue;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}
.page4paragraph{
    margin:0 calc(10vh - 8px);
    padding: 0 10px;
    border-radius: 20px;
    background-image:radial-gradient(rgb(255, 101, 126),rgb(113, 192, 113));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.softwares{
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}


.softwares div{
    flex: 1 1 200px;
    flex: 1 1 500px;
    margin: 5px;  
    display: flex;
    align-items: center;
    text-align: left;
    overflow: hidden;
    background-image:radial-gradient(rgb(144, 190, 155), rgb(31, 51, 48));
    background-size:cover;
    background-position:left;
    width: calc(5vh - 4px);
    border-style: double;
    border-color: rgb(19, 18, 14);
}
.softwares h1.insidebospage4{
    margin: 10px;
    padding:10px;
    font-family:"Sofia", sans-serif ;
    color: black;
    font-size: initial;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.softwares p{
    font-size: calc(3vh - 3px);
    color: rgb(71, 78, 7);
    margin: 5px;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.3);
    
    
}
.softwares img{
    display: flex;
    height: 100px;
    width: 100px;
}



/*<-------------------------------------------page2-------------------------------------------------------->*/



/*<-------------------------------------------page5glassmorphism-------------------------------------------------------->*/
/* .warp{
    background-color: linear-gradient(rgb(226, 210, 226), rgb(68, 5, 60));
    position: relative;
    width: 100%;
    height: 100%;
}
.warp h1{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size: 40px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

}
.drop{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: block;
    margin: 0 auto;
}
.drop1{
    width: 80%;
    height: 160px;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.drop2{
    width: 50%;
    height: 150px;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.drop3{
    width: 50%;
    height: 150px;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.drop4{
    width: 50%;
    height: 150px;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
} */

.warp{
    background-image: linear-gradient(rgb(57, 50, 70),rgb(3, 95, 99));
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.warp h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 221, 142);
    font-size: calc(4vh - 8%);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.drop{
    padding-left: 0%;
    font-size: 80%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
}
.drop2 h1{
    color: rgb(26, 39, 39);
    padding: 10px;
    display: block;
    text-align: center;
}
.drop2 img{
    height: 40px;
    width: 40px;
}
.drop2 p{
    color: rgb(26, 63, 43);
    border-style: solid;
    border-width: 2px;
    border-top-width: 0;
    padding: 10px;
    border-color: rgb(43, 75, 80);
}
.drop2{
    position: relative;
    padding: 1%;
    flex: 0 0 100px 0;
    flex: 0 0 100px 0;
    margin: 5px 10px 5px 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    float: left;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.3);

}



/*<-------------------------------------------page2glassmorphism-------------------------------------------------------->*/

.underlinepage1{
    padding: 2px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}

/*<------------------------------------------------------footer------------------------------------------>*/
ul.fabfot{
    margin: 0%;
    padding-left: 0%;
    font-size: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 0%;
}
.fabfot li{
    color: rgb(171, 212, 231);
    padding: 1%;
    list-style-type: none;
    flex: 1 1 200px;
    flex: 1 1 200px;
    margin: 5px;  
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-width: 1px;
    border-style: dashed;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.fabfot li h1{
    font-style: italic;
    font-family: monospace;
    text-align: center;
    text-decoration: underline;
    text-decoration-style:double;
    text-decoration-color: rgba(100, 25, 25, 0.808);
}
.Fabfootext{
    background: rgb(18, 13, 24);
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.butt0m{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    bottom: 0%;
    background-color: rgb(105, 105, 105);
    padding: 10px;
    width: 100%;
    display:flex;
    justify-content: center;
}
.socialmedia{
    color: rgb(63, 56, 56);
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    padding: 2px;
}
.socialmedia:hover{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 1s;
    background-color: rgb(105, 36, 36);
    color: rgb(248, 248, 248); 
}
/*<-------------------------------------------footer part-------------------------------------------------------->*/
/*-------------tothetopbutton----------------*/
.to-top{
    background:white;
    position: fixed;
    bottom:16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top:hover{
    background-color: white;
    color: black;

}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
/*----------------------------slider-------------------------------*/

slider{
    position: relative;
    display: flex;
    background-image:url(image/back.png), linear-gradient(rgb(0, 0, 0),black);
    padding: 3% 5%;
}
slider h1{
    font-family: "Sofia", sans-serif;
    position: absolute;
    float: center;
    font-style: italic;
    color:rgb(83, 8, 77);
    z-index: 2;
}
slider .carousel-inner{
    width: 100%;
    height:100%;
    border-radius: 20px;
    
}
slider .carouselExampleDark{
    background-color: black;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
slider .carousel-caption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    background-color: rgba(252, 252, 252, 0.616);
    
}
/*----------------------------slider-------------------------------*/
